<title>My application</title>
  <h3>First box represents the first array</h3>
  <h3>Second box represents the second array</h3>
  <h3>Third box represents the first number</h3>
    <h3>Forth box represents the Second number</h3>
      <h3>Our algorithms true if third and forth box's multiplication holds a randomly picked 2 two element from the first and second boxes multiplication</h3>
        <h3>For example A[i]*B[j]==k*e it return true else false</h3>
    Result is {{result}}


  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30"></textarea>
        <textarea name="input2" rows="10" cols="30"></textarea>
	<textarea name="input3" rows="10" cols="30"></textarea>
        <textarea name="input4" rows="10" cols="30"></textarea>
        <br>
        <input type="submit">
  </form>

